!!! 5
html(ng-app="demo")
  head
    meta(charset="utf-8")
    base(href="/")
    title angular-on-fire
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js")
    script(type="text/javascript", src="https://cdn.firebase.com/v0/firebase.js")
    script(src="/script.js")
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type="button", ng-init="isCollapse = true", ng-click="isCollapse = !isCollapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(ui-sref="Home") angular-on-fire
    .container-fluid
      section.hero-unit(ng-controller="HeroCtrl")
        h1 Hello, angular-on-fire!!
        p angularjs, binding, firebase
        p
          | The greatest way to use Firebase with AngularJS!
        a.btn.btn-primary.btn-large(href="", ng-click="counter.$increase()")
          | Click to Increase Counter : {{ counter.$value }}
      section
        .row-fluid
          h1 Easy Button Group
        .row-fluid
          .span8
            tabset
              tab(heading="btn-group.html")
                pre.prettyprint= renderMixin('mixins/btn-group.jade')
              tab(heading="btn-group.js")
                pre.prettyprint= renderMixin('mixins/btn-group.ls')
          .span4(ng-controller="ButtonGroupCtrl")
            include mixins/btn-group
      section
        .row-fluid
          h1 Easy Button Toolbar
        .row-fluid
          .span8
            tabset
              tab(heading="btn-toolbar.html")
                pre.prettyprint= renderMixin('mixins/btn-toolbar.jade')
              tab(heading="btn-toolbar.js")
                pre.prettyprint= renderMixin('mixins/btn-toolbar.ls')
          .span4(ng-controller="ButtonToolbarCtrl")
            include mixins/btn-toolbar
      section(ng-controller="DelayEvalCtrl")
        .row-fluid
          h1 With Delayed Evaluation at '/{{ path }}/state'
        .row-fluid
          button.btn(ng-class="{active: state.$value}", 
            ng-click="state.$set(!state.$value)")
            | Click Me After Resolved 
          .code
            {{state}}


    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41104589-6', 'tomchentw.com');
      ga('send', 'pageview');